.initial {
    position: absolute;
    left: 20px;
    transition: left 0.5s ease; /* Плавный переход в течение 0.5 секунды */
  }
  
  .moved {
    position: absolute;
    animation: gradient 7s ease forwards;
    left: 50px;
    transition: left 0.5s ease; /* Плавный переход на другую позицию */
  }

.title-corpus{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

  .active-image {
    position: absolute; 
    width: 300px; 
    height: auto; 
    object-fit: cover; 
    z-index: 2; 
    left: 0; 
    top: 72%; 
    transform: translate(-50%, -100%); 
    opacity: 0;
    transition: 2s;
    filter: drop-shadow(2px 2px 5px rgba(255, 0, 0, 0.7));
  }
  .active-image2 {
    position: absolute; 
    width: 300px; 
    height: auto; 
    object-fit: cover; 
    z-index: 1; 
    left: 51%; 
    top: 72%; 
    transform: translate(-50%, -100%); 
    opacity: 1;
    transition: 2s;
    filter: drop-shadow(2px 2px 5px rgba(255, 0, 0, 0.7));
    animation: rgba 10s ease infinite;
    @media screen and (max-width:480px) {
        left: 58%;
    }
  }
  .active{
    position: absolute; /* Задаёт позиционирование элемента */
    width: 300px; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    object-fit: cover; /* Обрезает изображение, чтобы заполнить пространство */
    z-index: 2; /* Устанавливает уровень наложения */
    top: 72%; /* Смещает изображение на 50% от верхнего края родителя *//* Перемещает изображение, чтобы центрировать его */
    animation: test 2s ease forwards;
    transition: 2s;
    @media screen and (max-width:480px) {
        animation: testmobile 2s ease forwards;
    }
  }
  .active2{
    position: absolute; /* Задаёт позиционирование элемента */
    width: 300px; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    object-fit: cover; /* Обрезает изображение, чтобы заполнить пространство */
    z-index: 1; /* Устанавливает уровень наложения */
    top: 72%;
    left: 51%;  /* Смещает изображение на 50% от верхнего края родителя *//* Перемещает изображение, чтобы центрировать его */
    opacity: 1;
    @media screen and (max-width:480px) {
        left: 58%;
    }
  }
  .blur {
    width: 250px; 
    height: 100px; 
    background-color: red; 
    border-radius: 24px; 
    filter: blur(55px); 
    position: absolute; 
    opacity: 60%;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Центрируем элемент */
    z-index: 11; 
    overflow: hidden; 
    animation: rgbaKeys 10s ease infinite;
    margin: 20px; /* Это свойство может вызвать дополнительные отступы, если вам это не нужно, можете удалить его */
  }
@keyframes test {
    0% {
        opacity: 0;
        left: 0; 
        transform: translate(-50%, -100%) rotate(0deg); /* Начальная позиция и поворот */
    }
    25% {
        opacity: 1; /* Появление изображения */
        transform: translate(-50%, -100%) rotate(360deg); /* Первый поворот */
    }
    50% {
        left: 51%; /* Сдвиг изображения */
        transform: translate(-50%, -100%) rotate(360deg); /* Удерживаем первый поворот */
    }
    75% {
        transform: translate(-50%, -100%) rotate(720deg); /* Второй поворот */
    }
    85% {
        left: 51%; 
        opacity: 1;
        transform: translate(-50%, -100%) rotate(720deg); /* Конечное положение с 720 градусами поворота */
    }
    100% {
        left: 51%; 
        opacity: 0;
        transform: translate(-50%, -100%) rotate(720deg); /* Конечное положение с 720 градусами поворота */
    }
}
@keyframes testmobile {
    0% {
        opacity: 0;
        left: 0; 
        transform: translate(-50%, -100%) rotate(0deg); /* Начальная позиция и поворот */
    }
    25% {
        opacity: 1; /* Появление изображения */
        transform: translate(-50%, -100%) rotate(360deg); /* Первый поворот */
    }
    50% {
        left: 58%; /* Сдвиг изображения */
        transform: translate(-50%, -100%) rotate(360deg); /* Удерживаем первый поворот */
    }
    75% {
        transform: translate(-50%, -100%) rotate(720deg); /* Второй поворот */
    }
    85% {
        left: 58%;
        opacity: 1;
        transform: translate(-50%, -100%) rotate(720deg); /* Конечное положение с 720 градусами поворота */
    }
    100% {
        left: 58%; 
        opacity: 0;
        transform: translate(-50%, -100%) rotate(720deg); /* Конечное положение с 720 градусами поворота */
    }
}
@keyframes rgba {
    0%{
        filter: drop-shadow(2px 2px 5px rgba(255, 0, 0, 0.7));
    }
    25%{
        filter: drop-shadow(2px 2px 5px rgba(0, 174, 255, 0.7));
    }
    50%{
        filter: drop-shadow(2px 2px 5px rgba(1, 255, 43, 0.7));
    }
    75%{
        filter: drop-shadow(2px 2px 5px rgba(255, 0, 242, 0.7));
    }
    100%{
        filter: drop-shadow(2px 2px 5px rgba(255, 251, 0, 0.7));
    }
}
@keyframes rgbaKeys{
    0%{
        background-color: red; 
    }
    25%{
        background-color: rgb(0, 132, 255); 
    }
    50%{
        background-color: rgb(255, 0, 234); 
    }
    75%{
        background-color: rgb(0, 255, 55); 
    }
    100%{
        background-color: rgb(38, 0, 255); 
    }
}

