select{
    border:none;
    outline: none;
    font-size: 14px;
}
option{
 background: #444444;
 padding:2;
}
.modal-colculator__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Черный прозрачный фон */
    z-index: -2; /* Убедись, что это выше других элементов */
    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(1.1);
}

.modal-colculator{
        border-radius: 0.375rem; 
        max-width: 310px;
        width: 100%;
        padding: 10px;
        background-color: #444444;
        position: fixed;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)scale(1.1); 
        opacity: 0;
        transition: 1s;
}
.modal-colculator-active{
   opacity: 1;
   transform: translate(-50%, -50%)scale(1.0); 
}
.modal-col_active{
    width: 100vw;
    height: 100vh;
    transform:scale(1.0);
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 11;
}
.modal-order__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Черный прозрачный фон */
    z-index: -2; /* Убедись, что это выше других элементов */
    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(1.1);
}
.modal-order{
    border-radius: 0.375rem; 
    max-width: 310px;
    width: 100%;
    padding: 10px;
    background-color: #444444; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(1.1); 
    opacity: 0;
    transition: 1s;
}
.modal-order-active{
opacity: 1;
transform: translate(-50%, -50%)scale(1.0); 
z-index: 11;
}
.modal-order_active{
    width: 100vw;
    height: 100vh;
    transform:scale(1.0);
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 11;
}
.btn-colculator__off{
    margin-left: 90%;
    font-size: 20px;
    font-family: sans-serif; 
    margin-top: 0.5%; 
    padding-left: 8px; 
    padding-right: 8px; 
    border-radius: 0.375rem; 
    background-color: #cf0202; 
    color: white; 
    transition: transform 0.2s ease; 
    
}
.btn-colculator__off:hover {
    transform: scale(1.1); 
  }
.btn-order__off{
    margin-left: 90%;
    font-size: 20px;
    font-family: sans-serif; 
    margin-top: 0.5%; 
    padding-left: 8px; 
    padding-right: 8px; 
    border-radius: 0.375rem; 
    background-color: #cf0202; 
    color: white; 
    transition: transform 0.2s ease; 
    
}
.btn-order__off:hover {
    transform: scale(1.1); 
  }
  .finish-images{
   
  }
@media screen and (min-width:480px) {
    .modal-colculator{
        max-width: 400px;
    }
    .btn-colculator__off{
        margin-left: 92.2%;
    }
    .modal-order{
        max-width: 400px;
    }
    .btn-order__off{
        margin-left: 92.2%;
    }
}
@media screen and (min-width:768px) {
    .modal-colculator{
        max-width: 600px;
    }
    .btn-colculator__off{
        margin-top: 0.3%; 
        margin-left: 95%;
    }
    .modal-order{
        max-width: 600px;
    }
    .btn-order__off{
        margin-top: 0.3%; 
        margin-left: 95%;
    }
    
}