
  


  .bar{
    background: linear-gradient(to bottom, #FF6805 0%, #FB1B3E 100%);
  }
  .compint-info li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #B0C4DE;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
  }
  .curved-bottom__top {
    width: 100%;
    height: 300px;
    margin-top: -70px;
    background-color: black;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0% 100%, 0 100%);
   
  }
  .curved-bottom__bottom
   {
    width: 100%;
    height: 300px;
    background-color: black;
    position: relative;
    clip-path: polygon(0 100%, 100% 0%, 100% 100%, 90% 100%);
    
}